# .github/workflows/ui-testing.yaml
name: Playwright UI Tests

on:
  pull_request:
    branches:
     - main

  workflow_dispatch:
    inputs:
      browser:
        description: 'Browser to run tests on'
        required: true
        default: 'chrome'
        type: choice
        options:
        - chrome
        - firefox
      resolution:
        description: 'Screen resolution'
        required: true
        default: 'desktop'
        type: choice
        options:
        - desktop
        - tablet
        - mobile  
  

jobs:
  playwright-tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 1  
        repository: Sara-ashmoz/smart-customer-alerts-UI 
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Install Playwright browsers
      run: |
        playwright install --with-deps
      
  
    - name: Run Playwright tests
      env:
        HEADLESS: true
        APP_URL: https://sapindaceous-chagrinedly-camilla.ngrok-free.dev
      run: |
        pytest test/ -v

    - name: Archive test screenshots
      if: always()  # Run this step even if tests fail
      uses: actions/upload-artifact@v4
      with:
        name: test-screenshots
        path: |
          *.png